<p id="notice"><%= notice %></p>
<p>Zack Branch</p>
<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>User phone:</strong>
  <%= @user.user_phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
